a h4{
  color: #fff;
}
p {
  color: #444;
}

.img_profile{
  margin-top: 20px;
}
.condensed{
  font-stretch: condensed;
}
.collapsible-header{
  color:rgba(0,0,0,0.87);
}
.collection .collection-item.active{
  background-color: #fff;
  color:rgba(0,0,0,0.87);
  border: rgba(125, 125, 228, 0.49) 1px solid;
}
.collapsible-header, .collapsible-body{
  border-bottom:0;
}

.dz-default.dz-message {
  border: 2px dashed #4a4a4a;
  padding: 10px;
  height: 220px;
}
nav ul a, nav .brand-logo {color:#fff;}

/* Dropzone*/
#droparea{
width: 80%;
min-height: 220px;
margin: 30px auto;
padding: 0 20px;
border: 4px dashed rgba(82, 82, 82, 0.8);
}
.ready{border: 4px dashed rgba(0, 255, 0, 0.8);}

#previewsContainer {
width: 300px;
/*min-height: 280px;*/
padding: 10px 20px;
background: #FFF;
/*margin: 20px;*/
}
#uploader{background: rgba(200,200,200,0.8);padding: 0 20px 20px;}
/* style 2*/
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  width: 100%;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

a h4{
  color: #fff;
}
p {
  color: #444;
}

.img_profile{
  margin-top: 20px;
}
.condensed{
  font-stretch: condensed;
}
.collapsible-header{
  color:rgba(0,0,0,0.87);
}
.collection .collection-item.active{
  background-color: #fff;
  color:rgba(0,0,0,0.87);
  border: rgba(125, 125, 228, 0.49) 1px solid;
}
.collapsible-header, .collapsible-body{
  border-bottom:0;
}
.container {width: 100%;
  /*background-color: #f3f3f3;*/
}

/* etiquetas de entidades */
.ent_label {    background-color: #a3a3a3;
    color: white;
    padding: 4px;
    margin-left: 4px;
}
.ent_value { padding-left: 4px;}
.ent_box{border: 1px solid #a3a3a3;
    display: inline-block;
    margin:4px;
  }

.OTHER.ent_label{background-color: #a3a3a3;}
.OTHER.ent_box{border: 1px solid #a3a3a3;}
.CONSUMER_GOOD.ent_label{background-color: green;}
.CONSUMER_GOOD.ent_box{border: 1px solid green;}
.PERSON.ent_label{background-color: #ee6e73;}
.PERSON.ent_box{border: 1px solid #ee6e73;}


/* fonts */
.russo{font-family: 'Russo One', sans-serif;}
.orbitron{font-family: 'Orbitron', sans-serif;}
