{% extends "base.html" %}

{% block content %}

<div id="form" class="create-project">
    <h4>{{action}} Proyecto</h4>


    <form method="POST" enctype="multipart/form-data">
        <h5>Datos básicos</h5>
        <div class="row">
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="name">Nombre del Proyecto</label>
                    <input type="text" name="name" id="name" value=""
                           class="form-control"/>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="client">Nombre del Cliente</label>
                    <input type="text" name="client" id="client"  value=""
                           class="form-control"/>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="contact">Email del cliente</label>
                    <input type="text" name="contact" id="contact" value=""
                           class="form-control"/>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="salesrep">Comercial</label>
                    <input type="text" name="salesrep" id="salesrep" value=""
                           class="form-control"/>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="product">Producto</label>
                    <input type="text" name="product" id="product" value=""
                           class="form-control"/>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input type="text" name="description" id="description" value=""
                           class="form-control"/>
                </div>
            </div>
            <div class="col s12 m8">
                <div class="form-group">
                    <label for="doc_link">Enlace a documentación</label>
                    <input type="text" id="doc_link" name="doc_link" value="" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <h5>Tiempo de ejecución</h5>
        <div class="row">
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="start_date">Comienzo aprox.</label>
                    <input type="text" id="start_date" name="start_date" value=""
                           class="form-control datepicker"/>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="end_date">Finalización aprox.</label>
                    <input type="text" id="end_date" name="end_date" value=""
                           class="form-control datepicker"/>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="work_days">Jornadas</label>
                    <input type="text" id="work_days" name="work_days" value="" class="form-control"/>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="hours">Horas</label>
                    <input type="text" id="hours" name="hours" value="" class="form-control"/>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="hours_type">Tipo de Horas</label>
                    <textarea id="hours_type" name="hours_type" class="materialize-textarea"
                              rows="1">
                    </textarea>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="form-group">
                    <label for="approver">Aprobadores</label>
                    <textarea id="approver" name="approver" class="materialize-textarea"
                              rows="1">
                    </textarea>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col s6">
                <table id="days" class="responsive-table">
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>

        <input type="text" value="{{session.profile.id}}" id="created_by_id" name="created_by_id" hidden/>
        <input type="text" value="{{session.profile.emails[0].value}}" id="created_by_email" name="created_by_email" hidden/>
        <input type="text" value="created" id="status" name="status" hidden/>
        <input type="text" value="es" id="country" name="country" hidden/>

        <div class="row">
            <div id="split_data">
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                {% if action == 'Editar'%}
                <input id="submitProject" value="submit" type="submit" class="btn btn-success" ></input>
                {% else %}
                <input id="submitProject" type="submit" class="btn btn-success" ></input>
                {% endif %}
            </div>
        </div>
    </form>


    {% endblock %}
