{% extends "base.html" %}

{% block content %}

<style media="screen">
    /*body{background-image: url("/static/images/google_DC.jpg");}*/
    canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */
    #particles-js{ display:none; position:absolute; width: 100%; height: 100%;
    background-color: #b61924; background-image: url("");
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
</style>


<div id="form" class="create-allocation">
    <!-- <h3 style="color:#f0f0f0;">Upload audio</h3> -->
    <h4>{{action}} Imputación</h4>

    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col s3">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" disabled value="{{session.profile.displayName}}"
                           class="form-control"/>
                </div>
            </div>
            <div class="col s3">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" disabled value="{{session.profile.emails.0.value}}"
                           class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <select name="project" id="project" class="form-control" required>
                    <option value="{{allocation.project}}" disabled selected>{% if allocation.project%}{{allocation.project_name}}{%else%}Elija una opción{%endif%}</option>
                    {% for generic in generics %}
                      <option value="{{generic.id}}" data-id="{{generic.approver}}" data-type="{{generic.hours_type}}">{{generic.name}}</option>
                    {% endfor %}
                    {% for pjs in projects %}
                      <option value="{{pjs.id}}" data-id="{{pjs.approver}}" data-type="{{pjs.hours_type}}">{{pjs.name}}</option>
                    {% endfor %}
                </select>
                <label>Proyecto</label>
            </div>

            <div class="input-field col s3">
                <select name="hours_type" id="hours_type" class="form-control">
                    <option value="{{allocation.hours_type}}" disabled selected>{% if allocation.project
                        %}{{allocation.hours_type}}{%else%}Elija una opción{%endif%}
                    </option>
                </select>
                <label>Tipo</label>
            </div>

            <div class="input-field col s4">
                <select name="approver" id="approver" class="form-control" required>
                    <option value="{{allocation.approver}}" disabled selected>{% if allocation.project
                        %}{{allocation.approver}}{%else%}Elija una opción{%endif%}
                    </option>
                </select>
                <label>Aprobador</label>
            </div>
        </div>

        <div class="row">
            <div class="col s1">
                <div class="form-group">
                    <label for="start_date">Desde</label>
                    <input type="text" id="start_date" name="start_date" value="{{allocation.formated_start_date}}"
                           class="form-control datepicker"/>
                </div>
            </div>
            <div class="col s1">
                <div class="form-group">
                    <label for="end_date">Hasta</label>
                    <input type="text" id="end_date" name="end_date" value="{{allocation.formated_start_date}}"
                           class="form-control datepicker"/>
                </div>
            </div>
            <div class="col s1">
                <div class="form-group">
                    <label for="hours">Horas</label>
                    <input type="text" id="hours" name="hours" value="{{allocation.hours}}" class="form-control"/>
                </div>
            </div>
            <div class="col s3">
                <div class="form-group">
                    <label for="comment">Comentario</label>
                    <textarea id="comment" name="comment" class="materialize-textarea"
                              rows="1">{{allocation.comment}}</textarea>
                </div>
            </div>
            <!-- Hora inicio - Hora Fin-->

            <div class="col s1">
                <div class="form-group">
                    <label for="hour_start">Horas</label>
                    {% if action == 'Editar'%}
                        <input type="time" id="hour_start" name="hour_start" value="{{allocation.hour_start}}" step="900" class="form-control"/>
                    {% else %}
                        <input type="time" id="hour_start" name="hour_start" value="09:00" step="900" class="form-control"/>
                    {% endif %}
                </div>
            </div>

            <div class="col s1">
                <div class="form-group">
                    <label for="hour_end">Horas</label>
                    {% if action == 'Editar'%}
                        <input type="time" id="hour_end" name="hour_end" value="{{allocation.hour_end}}" step="900" class="form-control"/>
                    {% else %}
                        <input type="time" id="hour_end" name="hour_end"  value="18:00" step="900" class="form-control"/>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <table id="days" class="responsive-table">
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>

        <input type="text" value="{{session.profile.id}}" id="user_id" name="user_id" hidden/>
        <input type="text" value="{{session.profile.emails[0].value}}" id="user_email" name="user_email" hidden/>
        <input type="text" value="{{user_country}}" id="country" name="country" hidden/>
        <input type="text" value="created" id="status" name="status" hidden/>

        <div class="row">
            <div id="split_data">
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                {% if action == 'Editar'%}
                <input id="submit" value="submit" type="submit" class="btn btn-success" disabled></input>
                {% else %}
                <input id="submit" type="submit" class="btn btn-success" disabled></input>
                {% endif %}
            </div>
        </div>
    </form>


    {% endblock %}
