{% extends "base.html" %}

{% block content %}

    <div class="caption center-align">
        <h3>Kumo</h3>
        <h5 class="light red-text text-lighten-4">KIP</h5>
    </div>

    <div class="section">

      <!--   Icon Section   -->
      <div class="row IconSection">
        <div class="col s12 m4 box001 ">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/static/images/Home-network.png" alt="" width="60px"/></h2>

            <div class="boxText">
              <h5 class="center">Atualización de tareas</h5>

              <p class="light ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum doloribus nulla ab, similique! Enim officia laborum suscipit, consequatur quis sequi perferendis doloremque porro expedita? Neque possimus quaerat nesciunt perferendis quae?</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 box002 ">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/static/images/Home-cloud.png" alt="" width="60px"/></h2>

            <div class="boxText">
              <h5 class="center">Accesible desde internet</h5>

              <p class="light ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus minus facilis pariatur, ratione accusamus itaque quas vel, asperiores consequatur, blanditiis perspiciatis ullam libero atque iste voluptate fugit explicabo enim ex?</p>
            </div>

          </div>
        </div>

        <div class="col s12 m4 box003 ">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/static/images/Home-transformation.png" alt="" width="60px"/></h2>

            <div class="boxText">
              <h5 class="center">Reporting</h5>

              <p class="light ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quia accusantium beatae magni minus quas veniam ratione adipisci labore aliquid culpa sapiente dolorum atque repellendus, ducimus maiores officiis eius. Illum.</p>
            </div>
          </div>
        </div>
      </div>

    </div>



    {% if session.profile %}
    <h3>Mensajes</h3>
    <p>No hay mensajes</p>
    <!-- {{allocations}} -->
    {% else %}
        <a class="waves-effect waves-light btn-large" href="/oauth2authorize">Login</a>
    {% endif %}

{% endblock %}
