{% extends "base.html" %}

{% block content %}

    <div class="caption center-align">
        <h3>Kumo</h3>
        <h5 class="light red-text text-lighten-4">KIP</h5>
        <small>internet explorer no está soportado.</small>
        {%if session.profile %}
          <br>
          <a class="waves-effect waves-light btn-large" href="/a/add_allocation">Imputar</a>
        {% endif %}
    </div>



    <div class="section">

      <!--   Icon Section   -->
      <div class="row IconSection">
        <div class="col s12 m4 box001 ">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/static/images/Home-network.png" alt="" width="60px"/></h2>
            <div class="boxText">
              <h5 class="center">Actualización de tareas</h5>
              <p class="light ">Imputa las actividades realizadas durante el mes. </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 box002 ">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/static/images/Home-cloud.png" alt="" width="60px"/></h2>

            <div class="boxText">
              <h5 class="center">Accesibilidad</h5>

              <p class="light ">Accesible desde cualquier dispositivo conectado a internet</p>
            </div>

          </div>
        </div>

        <div class="col s12 m4 box003 ">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/static/images/Home-transformation.png" alt="" width="60px"/></h2>

            <div class="boxText">
              <h5 class="center">Reporting</h5>

              <p class="light ">Facilita el seguimiento de las actividades</p>
            </div>
          </div>
        </div>
      </div>

    </div>



    {% if session.profile %}
    <h3>Mensajes</h3>
    <p>No hay mensajes</p>
    <!-- {{allocations}} -->
    {% else %}
        <a class="waves-effect waves-light btn-large" href="/oauth2authorize">Login</a>
    {% endif %}

{% endblock %}
