{% extends "head.html" %}

{% block content %}



  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2 russo">Alison</h1>
        <div class="row center">
          <h5 class="header col s12 light orbitron">Speech Data Value</h5>
        </div>
        {% if session.profile %}
        <div class="row center">
          <a href="/books/add_audio" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        {% endif %}
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/static/images/waves3.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row IconSection">
        <div class="col s12 m4 box001 ">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/static/images/Home-network.png" alt="" width="60px"/></h2>

            <div class="boxText">
              <h5 class="center">Speeds up your CC</h5>

              <p class="light ">We analyze all your audios in a short did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 box002 ">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/static/images/Home-cloud.png" alt="" width="60px"/></h2>

            <div class="boxText">
              <h5 class="center">Realtime Dashboard</h5>

              <p class="light ">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>

          </div>
        </div>

        <div class="col s12 m4 box003 ">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/static/images/Home-transformation.png" alt="" width="60px"/></h2>

            <div class="boxText">
              <h5 class="center">Easy to work with</h5>

              <p class="light ">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



{% endblock %}
