{% extends "base.html" %}

{% block content %}


<div class="audioList">
  <div class="row">
    <div class="col s2">
      <h4>Imputaciones</h4>
    </div>
    <div class="col s2 right">
      {% if session.profile %}
      <a href="/a/add_allocation" class="btn btn-success btn-sm">
      Nueva
      </a>
      {% endif %}
    </div>
  </div>
  {%if total_hours%}
    <span>{{total_hours}} hours in created status.</span>
  {% endif %}
    {% if allocations %}
<table class="striped">
    <thead>
    <tr>
        <th> 
         <input type="checkbox" id="check_all" />
         <label for="all">Todos</label>
        </th>
        <th>Nombre</th>
        <th>Proyecto</th>
        <th>Aprobador</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Horas</th>
        <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for alloc in allocations %}
    <tr>
       <td>
         <input type="checkbox" id="{{alloc.id}}" class="checkBoxClass"/>
         <label for="{{alloc.id}}"></label>
      </td>
       <td>{{alloc.createdBy}}</td>
       <td>{{alloc.project}}</td>
       <td>{{alloc.approver}}</td>
       <td>{{alloc.formated_start_date}}</td>
       <td>{{alloc.formated_end_date}}</td>
       <td>{{alloc.hours}}</td>
       <td>{{alloc.status}}</td>
       <td>
        {% if alloc.status == 'created' %}
          <a href="./{{alloc.id}}/submit">submit</a>
        {% endif %}
       </td>
       <td>
        {% if alloc.status == 'created' or alloc.status == 'rejected' %}
         <a href="./{{alloc.id}}/delete">delete</a>
        {% endif %}
        </td>
       <td>
        {% if alloc.status == 'created' or alloc.status == 'rejected' %}
         <a href="#">edit</a>
        {% endif %}
       </td>
       <td>
        {% if alloc.status == 'submit' %}
         <a href="./{{alloc.id}}/rejected"><i class="material-icons" style="color:#b71c1c">cancel</i></a>
        {% endif %}
       </td>
       <td>
        {% if alloc.status == 'submit' %}
         <a href="./{{alloc.id}}/accepted"><i class="material-icons" style="color:#1b5e20">check_circle</i></a>
        {% endif %}
       </td>

             
             

    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<small class='right'><a href="check_allocations">Revisar Imputaciones</a></small>
<br>
    {% else %}
      <p>No allocations</p>
    {% endif %}

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
</div>
{% endif %}
{% endblock %}

