

{% extends "base.html" %}

{% block content %}

<h3>Users</h3>
{% if session.role =="admin" or session.role =="manager" %}
  <a href="../user" class="btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-trash"></i>
    Add user
  </a>
{% endif %}

{% for user in users %}
<p>
<div class="user {{ 'banned' if user.banned else 'no-banned' }}">
  {{user.email}}   <div class="chip"> {{user.profile}} </div>{{user.lastAccess}}
  <div class="opciones right">
    {% if session.role =="admin" or session.role =="manager" %}
      <a href="../user/{{user.id}}/edit_user" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-edit"></i>
        Edit user
      </a>
      {% endif %}
      {% if session.role =="admin" %}

      <a href="../user/{{user.id}}/delete_user" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-trash"></i>
        Delete user
      </a>
    {% endif %}
  </div>
</div>
</p>
{% endfor %}



{% endblock %}
