{% extends "base.html" %}

{% block content %}


<div class="audioList">
  <div class="row">
    <div class="col s2">
      <h4>Imputaciones</h4>
    </div>
    <div class="col s2 right">
      {% if session.profile %}
      <a href="/a/add_allocation" class="btn btn-success btn-sm">
      Nueva
      </a>
      {% endif %}
    </div>
  </div>
<table class="striped">
    <thead>
    <tr>
        <th> 
         <input type="checkbox" id="check_all" />
         <label for="all">Todos</label>
        </th>
        <th>Nombre</th>
        <th>Proyecto</th>
        <th>Aprobador</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Horas</th>
        <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for alloc in allocations %}
    <tr>
       <td>
         <input type="checkbox" id="{{alloc.id}}" class="checkBoxClass"/>
         <label for="{{alloc.id}}"></label>
      </td>
       <td>{{alloc.createdBy}}</td>
       <td>{{alloc.project}}</td>
       <td>{{alloc.approver}}</td>
       <td>{{alloc.formated_start_date}}</td>
       <td>{{alloc.formated_end_date}}</td>
       <td>{{alloc.hours}}</td>
       <td>{{alloc.status}}</td>
       <td><a href="#">submit</a></td>
       <td><a href="#">edit</a></td>
    </tr>
    {% else %}
      <p>No allocations</p>
    {% endfor %}
  </tbody>
</table>


{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
</div>
{% endif %}

{% endblock %}

