{% extends "base.html" %}

{% block content %}

{% macro params(value,new) %}
  {% if request.args|length %}
    <a href="{{request.full_path}}&{{new}}">{{value}}</a>
  {% else %}
    <a href="{{request.full_path}}{{new}}">{{value}}</a>
  {% endif %}

{%- endmacro %}

{% macro chip(name, value='')%}
        <div class="chip">
          {{ name }}={{ value }}
          <a href="{{ request.full_path | replace(name+'='+value|urlencode, '') | replace('&','',1) }}"><i class="close material-icons">adjust</i></a>
        </div>
{%- endmacro %}

<div class="audioList">
  <div class="row">
    <div class="col s2">
      <h4>Imputaciones</h4>
    </div>
    <div class="col s4 m12 right">
      {% if session.profile %}
      <span> 
      <span> 
        <a href="#" class="btn btn-success btn-sm" id="buttonDelete" disabled="disabled" >
         Borrar
        </a>
      </span>
      <span> 
        <a href="#" class="btn btn-success btn-sm" id="buttonSubmit" disabled="disabled" >
         Enviar
        </a>
      </span>      
      <span> 
        <a href="#" class="btn btn-success btn-sm hidden" id="buttonReject" disabled="disabled">
         Rechazar
        </a>
      </span>
      <span> 
        <a href="#" class="btn btn-success btn-sm hidden" id="buttonApprove" disabled="disabled">
         Aprobar
        </a>
      </span>     
      <span> 
        <a href="/a/add_allocation" class="btn btn-success btn-sm">
        Nueva
        </a>
      </span>
      {% endif %}
    </div>
  </div>
  <div class="row">
    
    {% if month %}
      {{ chip( 'month', month ) }}
    {% endif %}
    {% if year %}
      {{ chip( 'year', year ) }}
    {% endif %}
    {% if project %}
      {{ chip( 'project', project ) }}
    {% endif %}
    {% if hours %}
      {{ chip( 'hours', hours ) }}
    {% endif %}
    {% if day %}
      {{ chip( 'day', day ) }}
    {% endif %}
    {% if status %}
      {{ chip( 'status', status ) }}
    {% endif %}
  </div>
  <div class="progress" style="display: none;" id="preloader">
      <div class="indeterminate"></div>
  </div>
<!--Filtro de fechas  -->
    {% if dates %}
      {% for year,months in dates.items() %}
        {% if months|length > 1%}
          <i class="material-icons left">date_range</i>
          {% for month in months %}
            <a href="{{year}}/{{month}}/mine"><span class="chip {{loop.cycle('red accent-2', 'teal lighten-2', 'blue lighten-1')}} black-text left">{{year}}/{{month}}</span></a> &nbsp;
          {% endfor%}
          <br>
          <br>
        {% else %}
            <a href="/a/mine">all</a>
        {% endif %}
      {% endfor %}
      <br>
    {% endif %}
  {%if total_hours%}
    {%for key, value in total_hours.items() %}
      <span><b>{{value}}</b> hours in {{key}} status. </span>
    {% endfor %}
  {% endif %}
    {% if allocations %}
<table class="striped tablesorter" id="table-allocations">
    <thead>
    <tr>
        <th> 
         <input type="checkbox" id="check_all" />
         <label for="all">Todos</label>
        </th>
        <th style="width:150px;">Nombre</th>
        <th>Proyecto</th>
        <th>Aprobador</th>
        <th>Fecha</th>
        <th>Horas</th>
        <th>Tipo</th>
        <th>Estado</th>
    </tr>
  </thead>
  <tbody>

    {% for alloc in allocations|sort(attribute='datetime_start')|rejectattr('archived') %}
    <tr>
       <td>
         {% if not alloc.status == 'accepted' and not alloc.status == 'submit' and not alloc.status == 'submited' %}
         <input type="checkbox" id="{{alloc.id}}" class="checkBoxClass"/>
         <label for="{{alloc.id}}"></label>
         {% if alloc.comment %}
          <i class="material-icons" title="{{alloc.comment}}">chat</i>
         {% endif %}
         {% endif %}
      </td>
       <td>{{alloc.createdBy}}</td>
       {% if alloc.project_name is string %}
          <td>{{ params(alloc.project_name,'project='+alloc.project_name|e) }}</td>
       {% else %}
          <td>{{alloc.project}}</td>
       {% endif %}
       <td>{{alloc.approver}}</td>
       <td>{{ params(alloc.formated_start_date,'month='+alloc.month|e) }}</td>
       <td>{{alloc.hours}}</td>
       <td>{% if alloc.hours_type|length > 1 %}{{ params(alloc.hours_type,'hours='+alloc.hours_type|e) }} {% else %} - {% endif %}</td>
       {% if alloc.status == 'created' %}
        <td>
          <span class="badge blue cwhite left">{{alloc.status}}</span>
        </td>
       {% endif %}

       {% if alloc.status == 'submit' or alloc.status == 'submited' or alloc.status == 'submitted'%}
        <td>
          <span class="badge orange cwhite left">{{alloc.status}}</span>
        </td>
        {% endif %}

        {% if alloc.status == 'accepted' or alloc.status == 'approved' %}
        <td>
            <span class="badge green cwhite left">{{alloc.status}}</span>

        </td>
        <td>
            <a href="/a/archive/{{alloc.id}}">archive</a>
        </td>
       {% endif %}
        {% if alloc.status == 'rejected' %}
        <td>
          <span class="badge red cwhite left">{{alloc.status}}</span>
        </td>
       {% endif %}

        <td>
        {% if alloc.status == 'created' %}
          <a href="/a/submit/{{alloc.id}}/">submit</a>
        {% endif %}
        </td>
        <td>
          {% if alloc.status == 'created' or alloc.status == 'rejected' %}
            <a href="/a/delete/{{alloc.id}}/">delete</a>
          {% endif %}
        </td>
       <td>
        {% if alloc.status == 'created' or alloc.status == 'rejected' %}
         <a href="/a/edit_allocation/{{alloc.id}}">edit</a>
        {% endif %}
       </td>
      
       {% if alloc.approver ==  logged_user %}
       <td>
        {% if alloc.status == 'submit' %}
         <a href="/a/reject/{{alloc.id}}/"><i class="material-icons" style="color:#b71c1c">cancel</i></a>
        {% endif %}
       </td>
       <td>
        {% if alloc.status == 'submit' %}
         <a href="/a/accept/{{alloc.id}}/"><i class="material-icons" style="color:#1b5e20">check_circle</i></a>
        {% endif %}
       </td>
      {% endif %}

             
             

    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
    {% if archived %}
     <small class='right'><a href="check_archived">Revisar archivadas</a></small>
    {% else %}
    {{allocations.archived}}
    {% endif %}
<br>
    {% else %}
      <p>No allocations</p>
    {% endif %}

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
</div>
{% endif %}
{% endblock %}

