{% extends "base.html" %}

{% block content %}

{% macro params(value,new) %}
  {% if request.args|length %}
    <a href="{{request.full_path}}&{{new}}">{{value}}</a>
  {% else %}
    <a href="{{request.full_path}}{{new}}">{{value}}</a>
  {% endif %}

{%- endmacro %}

{% macro chip(name, value='')%}
        <div class="chip">
          {{ name }}={{ value }}
          <a href="{{ request.full_path | replace(name+'='+value|urlencode, '') | replace('&','',1) }}"><i class="close material-icons">adjust</i></a>
        </div>
{%- endmacro %}

<div class="audioList">
  <div class="row">
    <div class="col s2">
      <h4>Imputaciones</h4>
    </div>
    <div class="col s4 right">
      {% if session.profile %}
      <span> 
      <span> 
        <a href="#" class="btn btn-success btn-sm" id="buttonDelete" disabled="disabled" >
         Borrar
        </a>
      </span>
      <span> 
        <a href="#" class="btn btn-success btn-sm" id="buttonSubmit" disabled="disabled" >
         Enviar
        </a>
      </span>      
      <span> 
        <a href="#" class="btn btn-success btn-sm hidden" id="buttonReject" disabled="disabled">
         Rechazar
        </a>
      </span>
      <span> 
        <a href="#" class="btn btn-success btn-sm hidden" id="buttonApprove" disabled="disabled">
         Aprobar
        </a>
      </span>     
      <span> 
        <a href="/a/add_allocation" class="btn btn-success btn-sm">
        Nueva
        </a>
      </span>
      {% endif %}
    </div>
  </div>
  <div class="row">
    
    {% if month %}
      {{ chip( 'month', month ) }}
    {% endif %}
    {% if year %}
      {{ chip( 'year', year ) }}
    {% endif %}
    {% if project %}
      {{ chip( 'project', project ) }}
    {% endif %}
    {% if hours %}
      {{ chip( 'hours', hours ) }}
    {% endif %}
    {% if day %}
      {{ chip( 'day', day ) }}
    {% endif %}
    {% if status %}
      {{ chip( 'status', status ) }}
    {% endif %}
  </div>
  <div class="progress" style="display: none;" id="preloader">
      <div class="indeterminate"></div>
  </div>
<!--Filtro de fechas  -->
    {% if dates %}
      {% for year,months in dates.items() %}
        {% if months|length > 1%}
          <i class="material-icons left">date_range</i>
          {% for month in months %}
            <a href="{{year}}/{{month}}/mine"><span class="chip {{loop.cycle('red accent-2', 'teal lighten-2', 'blue lighten-1')}} black-text left">{{year}}/{{month}}</span></a> &nbsp;
          {% endfor%}
          <br>
          <br>
        {% else %}
            <a href="/a/mine">all</a>
        {% endif %}
      {% endfor %}
      <br>
    {% endif %}
  {%if total_hours%}
    {%for key, value in total_hours.items() %}
      <span><b>{{value}}</b> hours in {{key}} status. </span>
    {% endfor %}
  {% endif %}
    {% if allocations %}
<table class="striped tablesorter" id="table-allocations">
    <thead>
    <tr>
        <th> 
         <input type="checkbox" id="check_all" />
         <label for="all">Todos</label>
        </th>
        <th style="width:150px;">Nombre</th>
        <th>Proyecto</th>
        <th>Aprobador</th>
        <th>Fecha</th>
        <th>Horas</th>
        <th>Tipo</th>
        <th>Estado</th>
    </tr>
  </thead>
  <tbody>

    {% for alloc in allocations|sort(attribute='datetime_start') %}
    <tr>
       <td>
         {% if not alloc.status == 'accepted' and not alloc.status == 'submit' %}
         <input type="checkbox" id="{{alloc.id}}" class="checkBoxClass"/>
         <label for="{{alloc.id}}"></label>
         {% if alloc.comment %}
          <i class="material-icons" title="{{alloc.comment}}">chat</i>
         {% endif %}
         {% endif %}
      </td>
       <td>{{alloc.createdBy}}</td>
       {% if alloc.project_name is string %}
          <td>{{ params(alloc.project_name,'project='+alloc.project_name|e) }}</td>
       {% else %}
          <td>{{alloc.project}}</td>
       {% endif %}
       <td>{{alloc.approver}}</td>
       <td>{{ params(alloc.formated_start_date,'month='+alloc.month|e) }}</td>
       <td>{{alloc.hours}}</td>
       <td>{% if alloc.hours_type|length > 1 %}{{ params(alloc.hours_type,'hours='+alloc.hours_type|e) }} {% else %} - {% endif %}</td>

       {% if alloc.status == 'created' %}
        <td>
          <span class="badge blue cwhite left">{{alloc.status}}</span>
        </td>
       {% endif %}

       {% if alloc.status == 'submit'%}
        <td>
          <span class="badge orange cwhite left">{{alloc.status}}</span>
        </td>
        {% endif %}
       
        {% if alloc.status == 'accepted' %}
        <td>
          <span class="badge green cwhite left">{{alloc.status}}</span>
        </td>
       {% endif %}
        {% if alloc.status == 'rejected' %}
        <td>
          <span class="badge red cwhite left">{{alloc.status}}</span>
        </td>
       {% endif %}

        <td>
        {% if alloc.status == 'created' %}
          <a href="/a/submit/{{alloc.id}}/">submit</a>
        {% endif %}
        </td>
        <td>
          {% if alloc.status == 'created' or alloc.status == 'rejected' %}
            <a href="/a/delete/{{alloc.id}}/">delete</a>
          {% endif %}
        </td>
       <td>
        {% if alloc.status == 'created' or alloc.status == 'rejected' %}
         <a href="/a/edit_allocation/{{alloc.id}}">edit</a>
        {% endif %}
       </td>
      
       {% if alloc.approver ==  logged_user %}
       <td>
        {% if alloc.status == 'submit' %}
         <a href="/a/reject/{{alloc.id}}/"><i class="material-icons" style="color:#b71c1c">cancel</i></a>
        {% endif %}
       </td>
       <td>
        {% if alloc.status == 'submit' %}
         <a href="/a/accept/{{alloc.id}}/"><i class="material-icons" style="color:#1b5e20">check_circle</i></a>
        {% endif %}
       </td>
      {% endif %}

    </tr>
    {% endfor %}
    {{alloc}}
  </tbody>
</table>
<br>
<br>
    {% else %}
      <p>No allocations</p>
    {% endif %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);

   function drawChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
         {% for start_date,hour in start_dates.items() %}
          [ new Date({{start_date}}), {{hour[0]}} ],
        {% endfor %}
          // [ new Date(2013, 9, 4), 38177 ],
          // [ new Date(2013, 9, 5), 38705 ],
          // [ new Date(1501632000000), 38705 ],
          // [ new Date(1503360000000), 20705 ],
          // [ new Date(1502064000000), 38705 ],
          // [ new Date(2013, 9, 12), 38210 ],
          // [ new Date(2013, 9, 13), 38029 ],
          // [ new Date(2013, 9, 19), 38823 ],
          // [ new Date(2013, 9, 23), 38345 ],
          // [ new Date(2013, 9, 24), 38436 ],
          // [ new Date(2013, 9, 30), 38447 ]


        ]);

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "{{email}}",
         height: 350,
         noDataPattern: {
           backgroundColor: '#eee',
           color: '#a0c3ff'
         },
         calendar: {
          cellColor: {
            stroke: '#76a7fa',
            strokeOpacity: 0.5,
            strokeWidth: 1,
          },
          daysOfWeek: 'DLMMJVS',
        }

       };

       chart.draw(dataTable, options);
   }
    </script> 


    <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>
{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
</div>
{% endif %}
{% endblock %}

