<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
<!--</head>-->
<!--<body>-->
{% extends "base.html" %}

{% block content %}

<style media="screen">
    /*body{background-image: url("/static/images/google_DC.jpg");}*/
    canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */
    #particles-js{ display:none; position:absolute; width: 100%; height: 100%;
    background-color: #b61924; background-image: url("");
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load("current", {packages:["timeline"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var container = document.getElementById('contenido');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();

    dataTable.addColumn({ type: 'string', id: 'Name' });
    dataTable.addColumn({ type: 'string', id: 'dummy bar label' });
    dataTable.addColumn({ type: 'string', role: 'tooltip' });
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });

    dataTable.addRows([
        {{data|replace('["','',1)|replace('", "','')|replace("', '","") |replace('"]','',1)|replace("['[","[",1)|replace(") ],']",") ]",1)|safe}}

      ]);

    var options = {
      tooltip: {isHtml: true},
      timeline: { showRowLabels: true },
      avoidOverlappingGridLines: true

    };

    chart.draw(dataTable, options);
  }
</script>

<div id="contenido" style="height:800px;"></div>
<div id="totales">
    <div class="row">

    {% for user,holiday in number_of_holidays.items() %}
        <div class="col s3 lb">{{user}}</div>
        <div class="col s1 lb">{{holiday}}</div>
    {% endfor %}
    </div>
</div>
<!--</body>-->
<!--</html>-->


    {% endblock %}
