{#
# Miguel Paniagua in Devoteam Spain
#}

{% extends "base.html" %}

{% block content %}

<div class="viewAudio">
<div class="container">
  <div class="row">
    {% if audio.polarity %}

    <div class="col s12 m5 left-align offset-s1">
      <h3 class="left-align">{{audio.publishedDate}}</h3>
    </div>

    <div class="col s12 m5 left-align ">

      <div class="col s3" title="{{audio.confidence}}">
        <div id="smallbuddy3" class="smallbuddy"></div>
      </div>

      <div class="col s3 offset-s1"><div id="smallbuddy" class="smallbuddy"></div></div>
      <div class="col s3 offset-s1"><div id="smallbuddy2" class="smallbuddy"></div></div>

    </div>
    {% endif %}
  </div>
</div>


<ul class="collection collapsible popout">
  <!--
    <li class="collection-item avatar">
      <i class="material-icons circle">label_outline</i>
      <span class="title">Audio title</span>
      <p>{{audio.title}}<br>
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle blue">language</i>
      <span class="title">Description</span>
      <p>{{audio.description}}
      </p>
    </li>

    <li class="collection-item avatar">
      <i class="material-icons circle green">recent_actors</i>
      <span class="title">Details</span>
      <p>Upload by: {{audio.createdBy|default('Anonymous', True)}}
         on {{audio.publishedDate}}
      </p>
    </li>
  -->
    {% if audio.text %}
    <li class="collection-item avatar">
      <i class="material-icons circle blue">chat_bubble_outline</i>
      <span class="badge" title="Confidence {{audio.confidence}}">{{audio.confidence}}</span>
      <span class="title">Transcription - {{audio.title}}</span>
      <blockquote class="">
        {{text}}


      </blockquote>
      {# ENTIDADES #}
          {% if audio.entidades %}
          <i class="material-icons circle">info</i>

            <span class="title">Entities</span>
            <blockquote>

              {% for entidad in  entidades.entities %}
                <div class="{{entidad.type}} ent_box">
                  <span class="ent_value">
                    {% if entidad.metadata %}
                        <a href="{{ entidad.metadata.wikipedia_url }}" target="_blank">{{ entidad.name }}</a>
                      {% else %}
                        {{ entidad.name }}
                    {% endif %}
                  </span>
                  <span class="{{entidad.type}} ent_label">{{entidad.type}}</span>
                </div>
              {% endfor %}
            </blockquote>

          {% else %}
            <span class="title">No Entities</span>

          {% endif %}
    </li>
    {% endif %}

    {% if audio.audioUrl %}
    <li class="collection-item avatar">
      {# <i class="material-icons circle red">system_update_alt</i> #}
      <a href="{{audio.audioUrl}}"><i class="material-icons circle red">play_arrow</i></a>
      <span class="title collapsible-header">File</span>
        <blockquote class="collapsible-body">
          <audio controls>
            <source src="{{audio.audioUrl}}" type="audio/wav">
          Your browser does not support the audio element.
          </audio>
        </blockquote>
    </li>
    {% else %}
    <li class="collection-item avatar">
      <i class="material-icons circle grey">system_update_alt</i>
      <span class="title">No file</span>
      <p>
        No audio file
      </p>
    </li>
    {% endif %}



{# TRANSCRIPCIONES #}
    {% if audio.text %}
<!--    <li class="collection-item avatar">
      <i class="material-icons circle blue">chat_bubble_outline</i>
      <span class="badge" title="Confidence {{audio.confidence}}">{{audio.confidence}}</span>
      <span class="title collapsible-header">Transcription</span>
      <blockquote class="collapsible-body">{{audio.text}}
      </blockquote>
    </li>
-->
    <li class="collection-item avatar">
      <i class="material-icons circle green">chat_bubble</i>
      <span class="title collapsible-header">Translation to English</span>
      <blockquote class="collapsible-body">
        {{ audio.english|safe }}
      </blockquote>
    </li>
    {% else %}
    <li class="collection-item avatar">
      <i class="material-icons circle grey">play_arrow</i>
      <span class="title">Transcription</span>
    </li>
    {% endif %}

  </ul>

  <div class="btn-group">
    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
      <a class="tooltipped btn-floating btn-large green" data-position="bottom" data-tooltip="More options">
        <i class="large material-icons">visibility</i>
      </a>
      <ul>
        <li><a href="/books/{{audio.id}}/delete" class="tooltipped btn-floating red" data-position="top" data-tooltip="Delete"><i class="material-icons">delete</i></a></li>
        <li><a href="/books/{{audio.id}}/edit_audio" class="tooltipped btn-floating" data-position="top" data-tooltip="Edit"><i class="material-icons">mode_edit</i></a></li>
        {% if audio.audioUrl %}
          <li><a href="/api_tasks/{{audio.id}}" class="tooltipped btn-floating" data-position="top" data-tooltip="Transcript"><i class="material-icons">message</i></a></li>
        {% endif %}
      </ul>
    </div>
  </div>


  {# Gauge #}

</div>
  <script src="/static/js/raphael-2.1.4.min.js"></script>
  <script src="/static/js/justgage.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>

  <script>
  // console.log({{audio.magnitude|float}});
  var g = new JustGage({
    id: "smallbuddy",
    value: {{audio.polarity|float}},
    decimals: true,
    min: -1,
    max: 1,
    title: "Score",
    label: "",
    levelColorsGradient: false,
    levelColors: ["#ff0000", "#f9c802", "#a9d70b"],

  });
  var g2 = new JustGage({
    id: "smallbuddy2",
    value: {{audio.magnitude|float}},
    decimals: true,
    min: 0,
    max: 100,
    title: "Magnitude",
    label: "",
    levelColorsGradient: false,
    levelColors: ["#ff0000", "#f9c802", "#a9d70b"]
  });
  var g3 = new JustGage({
    id: "smallbuddy3",
    value: {{audio.confidence|float}},
    decimals: true,
    min: 0,
    max: 1,
    title: "Confidence",
    label: "",
    levelColorsGradient: false,
    levelColors: ["#ff0000", "#f9c802", "#a9d70b"],
  });
</script>

<script>
  $(document).ready(function(){
      $('.tooltipped').tooltip({delay: 50});
      $('.collapsible').collapsible({
        accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      });
    });
//     var wavesurfer = WaveSurfer.create({
//   container: '#waveform',
//   waveColor: 'darkorange',
//   progressColor: 'purple',
//   splitChannels: true,
//   height: 64
// });
    // wavesurfer.load('audio.wav');

</script>
{% endblock %}
