{% extends "base.html" %}

{% block content %}


<div class="audioList">
    <div class="row">
        <div class="col s2">
            <h4>Project {{project.name}}</h4>
        </div>

        {% if project %}
        <div class="col s2 right">
            {% if session.profile %}
            <a href="/a/update_project/{{project.id}}/?ret=view" class="btn btn-success btn-sm">
                Actualizar
            </a>
            {% endif %}
        </div>
    </div>

    <div class="row">

        <div class="col s3">
            <ul>
                <li><b>Son Aprobadores:</b>
                    <ul>
                        {% for app in project.approver %}
                        <li>{{app}}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        {% if project.work_days %}
        <div class="col s3">
            <ul>
                {% if project.consumed_hours and project.estimated_hours%}
                    <li><b>Progreso: </b>{{ ((project.consumed_hours/project.estimated_hours) * 100)| round(2, 'ceil') }} %</li>
                    <li><b>Consumido: </b>{{project.consumed_hours}} horas</li>
                    <li><b>Total: </b>{{project.estimated_hours}} horas</li>
                {% endif %}
            </ul>
        </div>
        <div class="col s4">
            {% if project.hours_per_user%}
            <ul>
                {% for k,v in hours_per_user.items() %}
                    <li>{{k}} -- {{v}} horas</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col s5">
            <ul class="collection with-header">
                <li><h4>Han imputado</h4></li>
                {% if show_all != None %}
                    {% for user in project['approver'] %}
                        <li class="collection-item green lighten-4">
                            <a href="/a/allocations/{{user}}?project={{project.name}}"><span class="black-text">{{user}}</span></a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for user in aprobadores[session.profile.emails[0].value] %}
                        <li class="collection-item green lighten-4">
                            <a href="/a/allocations/{{user}}?project={{project.name}}"><span class="black-text">{{user}}</span></a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="col s5">
            <ul class="collection with-header">
                <li><h4>Participantes</h4></li>
                {% for user in project.auths%}
                <li class="collection-item green lighten-4">
                    <a href="/a/allocations/{{user}}">
                        <span class="black-text">{{user}}</span>
                    </a>
                    <a href="/a/_remove_auth/{{project.id}}/{{user}}" class="right">-</a>
                </li>
                {% endfor %}
                <li>
                    <span>
                        <form action="/a/_add_auth/" method="post">
                            <input type="text" name="auths">
                            <input type="text" class="hidden" name="id" id="id" value="{{project.id}}">
                            <input type="submit">
                        </form>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div>{# aprobadores['miguel.garcia@devoteam.com'] #}</div>
    <div>
    {#aprobadores#}
    </div>
    {% else %}
    <p>No projects</p>
    {% endif %}


    {% endblock %}

