{% extends "base.html" %}

{% block content %}


<div class="audioList">
  <div class="row">
    <div class="col s2">
      <h4>Project</h4>
    </div>
    
    {% if project %}
    <div class="col s2 right">
      {% if session.profile %}
         <a href="/a/update_project/{{project.id}}/" class="btn btn-success btn-sm">
        Actualizar
        </a> 
      {% endif %}
    </div>
    </div>
  
    <div class="row">
      <h5>{{project.name}} - {{project.country}}</h5>
      <div class="col s3">
        <ul>
          <li><b>Approvers:</b>
              <ul>
              {% for app in project.approver %}
                <li>{{app}}</li>
              {% endfor %}
              </ul>
          </li>
        </ul>
      </div>
      {% if project.estimated_hours %}
        <div class="col s3">
          <ul>
            <li><b>Progreso: </b>{{ (project.consumed_hours/project.estimated_hours) * 100 }} %</li>
            <li><b>Consumido: </b>{{project.consumed_hours}}</li>
            <li><b>Total: </b>{{project.estimated_hours}}</li>
          </ul>
        </div>
        <div class="col s3">
          <ul>
            <li><b>Progreso: </b>{{ (project.consumed_hours/project.estimated_hours) * 100 }} %</li>
            <li><b>Consumido: </b>{{project.consumed_hours}}</li>
            <li><b>Total: </b>{{project.estimated_hours}}</li>
          </ul>
        </div>
    {% endif %}
    </div>
    <div class="row">
      <div class="col s5">
        <ul class="collection with-header">
          <li><h4>Han imputado</h4></li>
          {% for user in project.users%}
            <li class="collection-item green lighten-4">
              <a href="/a/allocations/{{user}}"><span class="black-text">{{user}}</span></a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col s5">
        <ul class="collection with-header">
          <li><h4>Participantes</h4></li>
          {% for user in project.users%}
            <li class="collection-item green lighten-4">
              <a href="/a/allocations/{{user}}"><span class="black-text">{{user}}</span></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {{project}}
<!-- <table class="striped">
    <thead>
    <tr>

        <th>Name</th>
        <th>Head</th>
        <th>Country</th>
        <th>Approver</th>
        <th>Hours</th>
        <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for pj in projects %}
    <tr>
       <td><a href="/a/view_project/{{pj.id}}/">{{pj.name}}</a></td>
       <td>{{pj.head}}</td>
       <td>{{pj.country}}</td>
       <td>
         {% for app in pj.approver %}
          {{ app }} <br>
        {% endfor %}
       </td>
      <td><a href="./{{pj.id}}/update_pj_hours" title="click for update">8</a></td>
      <td><a href="#" title="click for update">on</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<small class='right'><a href="check_allocations">Revisar Imputaciones</a></small>
<br> -->
    {% else %}
      <p>No projects</p>
    {% endif %}

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
</div>
{% endif %}
{% endblock %}

